@font-face {
    font-family: 'BNazanin';
    src        : url('../font/BNazanin.ttf') format('truetype');
    font-weight : normal;
    font-style  : normal;
    font-display: swap;
}
p{
    font-family: "BNazanin";
    font-size: medium;
    font-weight: bold;
}
h5{
    font-family: "BNazanin";
}

